.tetris-body {
    min-height: 150vh;
    width: 100%;
    background-color: rgba(45, 45, 53, 1.0);
    background-image: linear-gradient(rgb(88, 99, 150), rgb(50, 50, 95));
    background-position: relative;
    background-size: cover;
    position: relative;
    transition: 2.0s;
}
.game-region {
    position: absolute;
    background-color: rgb(217, 177, 243);
    left: 50%;
    transform: translate(-50%);
    top: 400px;
    width: 600px;
    height: 800px;
}
.game-button {
    position: absolute;
    background-color: rgb(82, 108, 255);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.tetromino-block {
    position: absolute;
    background-color: aqua;
    width: 60px;
    height: 60px;
    transform: translate(-50%, -50%);
    background-image: repeating-linear-gradient()
}