.event-pool {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100%;
    align-items: center;
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    flex-wrap: nowrap;
    list-style-type: none;

    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
}

.event-pool > li {
    width: 90%;
    min-height: 60px;
    border: 1px black solid;
    border-radius: 5px;
    margin: 10px 0 10px 0;
}

.event-pool > li:hover {
    opacity: 50%;
    background-color: lightblue;
}

.event-time-entries-container {
    position: relative;
    width: 325px;
    display: flex;
    
    align-items: center;

    background-color: aliceblue;

    border-radius: 20px;
    
    filter: drop-shadow(5px 5px 2px #7d7d7d);

    overflow: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;
    flex-wrap: nowrap;
    list-style-type: none;

    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */

}

.event-time-entries-container > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 3px solid black;
    padding: 20px 10px 20px 10px;
    border-radius: 20px;
}

.event-time-entries-container > div:hover {
    opacity: 50%;
    background-color: darkgray;
}

.event-info-window {
    display: flex;
}

.time-entry-window {
    position: fixed;
    border: 4px solid black;
    background-color: ghostwhite;
    display: flex;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 80%;
    z-index: 20;

    overflow: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

/* .time-entry-header {
    position: relative;
    display: flex;
    justify-content: flex-start;
    width: 300px;
    height: 30px;
}

.time-entry-header > p {
    width: 50%;
} */

.time-entry-container {
    position: relative;
    padding: 20px 10px 20px 10px;
    width: 280px;
    height: 480px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.time-entry-container > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100px;
    height: 20px;
}

.time-interval-block {
    background-color: blanchedalmond;
    position: relative;
    width: 60px;
    height: 20px;
    border: 1px solid black;
}

.time-interval-selected {
    background-color: blue;
}

.time-entry-text {
    display: flex;
    flex-direction: column;
    padding: 0 10px 0 0;
    text-align: center;
}

.time-entry-text > * {
    width: 100%;
    height: 60px;
    margin: 10px 0 10px 0;
    border: 1px solid black;
}

.time-entry-text > p {
}


.calendar {
    width: 900px;
    height: 600px;
    display: flex;
    flex-direction: column;
}

.calendar-header {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
}

.calendar-body {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.table-header {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.weekday {
    width: 100px;
    text-align: center;
}

.table-content {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
}

.calendar-day {
    width: 125px;
    height: 75px;
    position: relative;
    border: 1px solid #a6a6a6;
}

.calendar-day:hover {
    /* background-color: rgba(0, 0, 0, .10); */
}

.calendar-day > p {
    position: absolute;
    right: 10px;
    color: #a6a6a6;
}

.current > p {
    color: #000000;
}

.selected > p {
    color: #cc0000;
    font-weight: bold;
}

.calendar-event-list {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.calendar-event {
    width: 200px;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightsteelblue;
}

.calendar-event > p {
    text-align: center;
}

.calendar-event-blob {
    width: 80%;
    height: 30px;
    background-color: #a6a6a6;
    border: 2px solid rgb(129, 129, 129);
    border-radius: 5px;
}

.toggle-time-entry-button {
    width: 60px;
    height: 30px;
    position: relative;
    background-color: lightsteelblue;
    border: none
}

.toggle-time-entry-button:hover {
    opacity: 50%;
}