body {
    margin: 0;
    padding: 0;
}

.profile-list {
    left: 50%;
    transform: translateX(-50%);
    background-color: lightgray;
    padding: 20px 10px 20px 10px;
    width: 1260px;

    display: flex;
    position: relative;
    overflow: hidden;
    overflow-x: scroll;
    flex-wrap: nowrap;
    list-style-type: none;

    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
}

.profile-list::-webkit-scrollbar {
    display: none;
}


.profile-list li {
    flex: 0 0 auto;
    margin: 0 10px 0 10px;
    background-color: gray;
    display: inline-block;
    width: 400px;
    height: 420px;
    border-radius: 20px;
}

.profile-image {
    position: relative;
    width: 300px;
    height: 375px;
    left: 50px;
}

.profile-list li:hover {
    opacity: .5;
}

