.event-pool {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 50%;
    align-items: center;
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    flex-wrap: nowrap;
    list-style-type: none;

    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
}

.event-pool > li {
    width: 90%;
    height: 20%;
    border: 1px black solid;
    border-radius: 5px;
    margin: 10px 0 10px 0;
}

.event-pool > li:hover {
    opacity: 50%;
    background-color: lightblue;
}

.event-time-entries-container {
    position: relative;
    width: 302px;
    display: flex;


    overflow: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;
    flex-wrap: nowrap;
    list-style-type: none;

    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */

}

.event-time-entries-container > div {
    border: 1px solid black;
}