.calendar {
    padding: 30px 0 30px 60px;
}

.calendar-day {
    position: relative;
    background-color: rgb(208, 208, 208);
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

.today-date {
    background-color: rgb(100, 149, 100);
}

.calendar-number {
    width: auto;
    height: auto;
    top: 0;
    right: 0;
    position: absolute;
}

.event-list {
    list-style: none;
    padding-left: 0;
    margin: 0 0 0 0;
}

.event-item {
    position: relative;
    border: 1px solid rgb(154, 154, 204);
    background-color: rgb(212, 212, 255);
    border-radius: 5px;
    width: 198px;
    height: 50px;
}

.event-pop {
    background-image: linear-gradient(rgb(149, 149, 191), rgb(55, 55, 115));
    border: 5px solid rgb(127, 127, 192);
    border-radius: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 600px;
    z-index: 2;
}

.event-people-list {
    position: absolute;
    top: 400px;
    left: 50px;
}

.event-person {
    display: inline-block;
    border: 2px solid rgb(114, 134, 178);
    background-image: linear-gradient(rgb(144, 161, 200), rgb(92, 107, 140));
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
}

.event-item:hover {
    background-color: rgb(147, 177, 248);
}

.switch-button {
    width: 50px;
    height: 50px;
}

.hidden {
    visibility: hidden;
    pointer-events: none;
}