.navbar {
    position: sticky;
    z-index: 10;
    top: 0;
}

.nav-items {
    display: flex;
    background-color: rgb(90, 108, 151);
    width: auto;
}

.nav-dropdown {
    position: absolute;
    background-color: rgb(181, 195, 225);
    list-style: none;
    top: 60px;
    width: auto;
}

.nav-button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    height: 60px;
}

.nav-button-link {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    width: 90%;
    height: 70%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 10px;
}

.nav-button-link:hover {
    background-color: #c3c6df;
    color: #fff;
}

.nav-drop-button {
    display: flex;
    list-style: none;
    height: 40px;
    width: 130px;
    align-items: center;
    text-align: center;
}

.nav-drop-button a {
    display: flex;
    text-decoration: none;
    color: #151414;
    align-items: center;
    width: 90%;
    height: 100%;
    padding: 0 10px;
}

.nav-drop-button a:hover {
    background-color: #c3c6df;
    color: white;
}
