.profiles button {
    position: relative;
    background-color: gray;
    width: 80px;
    height: 120px;
    border: 2px solid black;
    border-radius: 20px;
}

.profiles button:hover {
    background-color: white;
    opacity: 50%;
}

.profile-list-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 919.5px;
    height: fit-content;
}

.profile-list-container-small {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 300px;
}

.profile-list {
    width: 100%;
    height: fit-content;

    display: flex;
    justify-content: space-between;
    overflow: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;
    flex-wrap: nowrap;
    list-style-type: none;

    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
}

.profile-list::-webkit-scrollbar {
    display: none;
}

.profile-list > li {
    width: 100%;
    height: 100%;
}


.profile-list > li > div {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 10px 10px 10px 10px;
    width: fit-content;
    min-width: 60px;
    height: 100%;
    border-radius: 10px;
    border: 2px solid rgb(77, 77, 77);

    background: linear-gradient(#afc0df, #a1a7e4);
}

.profile-list > li > div > p {
    text-align: center;
    width: 100%;
}

.profile-list li:hover {
    opacity: .5;
}

