.profiles {
    position: relative;
    min-height: 600px;
}

.profiles button {
    position: relative;
    background-color: gray;
    width: 80px;
    height: 120px;
    border: 2px solid black;
    border-radius: 20px;
}

.profiles button:hover {
    background-color: white;
    opacity: 50%;
}

.profile-list-container {
    position: absolute;
    display: inline-flex;
    align-items: center;
    margin: 40px 0 40px 0;
    left: 50%;
    transform: translateX(-50%);
}

.profile-list-container-small {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 300px;
}

.profile-list {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    overflow: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;
    flex-wrap: nowrap;
    list-style-type: none;

    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
}

.profile-list::-webkit-scrollbar {
    display: none;
}


.profile-list > li > div {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    min-width: 60px;
    height: 100%;
    border-radius: 10px;
    border: 1px solid black;
}

.profile-list > li > div > p {
    text-align: center;
}

.profile-list li:hover {
    opacity: .5;
}

